#top_header, #todays_date, #right_column_inside, #article_details, #related, #single_article_image_blur {display:none;}
body {font-family:'Slabo 27px', serif; font-size:13px;}
h1 {font-family:'Oswald', sans-serif; font-size:27px; color:#222; font-weight:900; line-height:20px;}
h2 {font-family:'Oswald', sans-serif; font-size:23px; font-weight: 500}
a {text-decoration: none;}
h1 a {color:#222;}
p {color:#444;}
#website_logo {border-bottom:solid 1px #dbdbdb}
#article_content {width:100% !important; float:none !important; padding:20px 0px 20px 0px !important;}
#article_details {display:none !important;}
#right_column_inside {display:none !important; width:0px !important;}
#left_column_inside {width:100% !important; margin:0px 0px 0px 0px !important;}
#inside_left_column {border-right:none  !important;}
#single_article_image {margin:0px 0px 0px 0px !important;}
#single_article_image img {margin:0px 0px 0px 0px !important;}
#inside_left_column {float:none !important; overflow:auto !important; border-right:none !important; margin-bottom:0px !important; padding-bottom:0px !important;}
footer {display:none !important;}
#CMSv2_Bottom_728x90 {display:none !important;}
#comments {display:none !important;}